<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ixuea.courses.mymusic">
    <!-- 这里用老师的的应用，改包名 和applicationId ,否则第三方登录不上去（原来的后面加old） -->
    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 读存储卡权限   轮播图框架或者其他地方需要读取本地的图片 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 写存储卡权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 有前台服务 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!--
全局歌词悬浮窗权限
        SYSTEM_ALERT_WINDOW:   翻译：系统警报窗口
        SYSTEM_OVERLAY_WINDOW: 翻译：系统覆盖窗口
    -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />

    <application
        android:name=".AppContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activity.LocalMusicActivity"
            android:label="@string/local_music" />
        <activity
            android:name=".activity.SelectFriendActivity"
            android:label="@string/activity_select_friend" />
        <activity
            android:name=".activity.SelectTopicActivity"
            android:label="@string/activity_select_topic" />
        <activity
            android:name=".activity.TopicDetailActivity"
            android:label="@string/activity_topic_detail" />
        <activity
            android:name=".activity.ShareLyricImageActivity"
            android:label="@string/activity_share_lyric_image" />
        <activity
            android:name=".activity.SelectLyricActivity"
            android:label="@string/activity_select_lyric" />
        <activity android:name=".activity.ImagePreviewActivity" />
        <activity android:name=".MusicPlayerActivity" />
        <!--
         播放音乐的服务
             android:priotity = "1000" 其实这优先级没多大作用
        -->
        <service
            android:name=".service.MusicPlayerService"
            android:enabled="true"
            android:exported="false"
            android:persistent="true"
            android:priority="1000" />

        <activity
            android:name=".activity.SimplePlayerActivity"
            android:label="@string/activity_simple_player" />
        <activity
            android:name=".activity.UserDetailActivity"
            android:label="@string/activity_user_detail" />
        <activity
            android:name=".activity.CommentActivity"
            android:label="@string/activity_comment" />
        <activity
            android:name=".activity.SheetDetailActivity"
            android:label="@string/activity_sheet_detail" />
        <activity
            android:name=".activity.SettingActivity"
            android:label="@string/setting" />
        <activity android:name=".activity.WebViewActivity" />
        <activity android:name=".activity.AdActivity" />
        <activity
            android:name=".activity.ForgetPasswordActivity"
            android:label="@string/activity_forget_password" />
        <activity
            android:name=".activity.RegisterActivity"
            android:label="@string/register" />
        <activity android:name=".activity.LoginOrRegisterActivity" />
        <activity android:name=".activity.GuideActivity" />
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--
            主界面
            launchMode:是Activity启动模式
            比较复杂
            详细的在基础课程中讲解

            简单来说就是控制是否创建新界面
            而我们这里肯定不希望有多个主界面
            所以配置为singleTask

            theme:设置了主题，不同的版本会找不同的主题（比如小于21的会找values里面，大于找values-21的）
        -->
        <activity
            android:name=".MainActivity"
            android:label=""
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar.StatusBarTransparent" /> <!-- android:label="@string/login" 这个是标题栏的那个标题 -->
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/login" />
    </application>

</manifest>