<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ixuea.courses.mymusic">
    <!-- 这里用老师的的应用，改包名 和applicationId ,否则第三方登录不上去（原来的后面加old） -->
    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".AppContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name=".activity.SettingActivity"></activity>
        <activity android:name=".activity.WebViewActivity" />
        <activity android:name=".activity.AdActivity" />
        <activity
            android:name=".activity.ForgetPasswordActivity"
            android:label="@string/activity_forget_password" />
        <activity
            android:name=".activity.RegisterActivity"
            android:label="@string/register" />
        <activity android:name=".activity.LoginOrRegisterActivity" />
        <activity android:name=".activity.GuideActivity" />
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--
            主界面
            launchMode:是Activity启动模式
            比较复杂
            详细的在基础课程中讲解

            简单来说就是控制是否创建新界面
            而我们这里肯定不希望有多个主界面
            所以配置为singleTask

            theme:设置了主题，不同的版本会找不同的主题（比如小于21的会找values里面，大于找values-21的）
        -->
        <activity
            android:name=".MainActivity"
            android:label=""
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar.StatusBarTransparent" /> <!-- android:label="@string/login" 这个是标题栏的那个标题 -->
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/login" />
    </application>

</manifest>